# 설명작성 셀
- ctrl + Enter : 실행
- Enter : Edit Mode (작성모드)

In [2]:
#코드작성 셀
num = 3
print(num)

3

In [4]:
num = 5
print(num)

5

In [7]:
age = '26'
print('제 나이는 '+age+'살입니다.')

제 나이는 26살입니다.

In [9]:
num1 = 13
num2 = 25
num2 = 77

print(num1)
print(num2)
print(num2)

13
77
77

In [11]:
age

'26'

In [13]:
num3 = 3.1425
num4 = 1.25
num5 = 3.0

print(num3)
print(num4)
print(num5)

3.1425
1.25
3.0

In [18]:
str1 = "Funny python"
str2 = 'Easy python'

print(str1 , str2)

# print(str1)
# print(str2)

Funny python Easy python

In [20]:
# 여러 변수의 값을 동시에 초기화하는 방법
a = 10
b = 15

c, d = 20, 25

print(c, d)

#하나의 값을 여러 공간에 저장하는 방법

20 25

In [23]:
x = 100
y = 200
sum1 = x+y
print(sum1)

300

In [27]:
msg4 = 'hello~ python.'
print(msg4)

msg5 = '''hello~ 
python.'''
print(msg5)

hello~ python.
hello~
python.

In [33]:
intro = 'My name is WJ'
print(intro[3:7])

print(intro[-6:-5])

name

In [47]:
dy_info="20200706Sunny"
year=dy_info[0:4]
day=dy_info[4:8]
weather=dy_info[8:]
print("년도:" , year)
print("월일:" , day)
print("날씨:" , weather)

년도: 2020
월일: 0706
날씨: Sunny

In [56]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
date = s[0:11]
weather = s[17:19]
print("날짜 : " + date)
print("날씨 : " + weather)

날짜 : 2020년 3월 3일
날씨 : 맑음

In [59]:
## 문자열 Formatting
# - '%' 문자활용
# - format() 기능활용

In [68]:
date = "오늘"
month = 4
day = 10
msg = "%s은 %d월 %d일입니다."%(date, month, day)
print(msg)

오늘은 4월 10일입니다.

In [70]:
when = '오늘'
month = 5
day = 5

msg2 = '{}은 {}월 {}일입니다' .format(when, month, day)
print(msg2)

오늘은 5월 5일입니다

In [76]:
x = 100
y = 200
sum = x+y
print("{}와 + {}와 합은 {}입니다".format(x, y, sum))

100와 + 200와 합은 300입니다

문자열 함수

In [78]:
msg3 = 'Python is easy and simple'

#문자열의 길이 len

print(len(msg3))

25

In [82]:
# 양쪽공백 제거 : strip()
msg4 = ' Python is easy and simple '
print(msg4)
print(msg4.strip())

 Python is easy and simple
Python is easy and simple

In [89]:
# 특정 문자를 다른 문자로 대체 : 변수, replace(이전 문자, 대체할 문자)
print(msg3.replace('Python','Java'))
print(msg3)

msg3 = msg3.replace('Python','Java')
print(msg3)

Java is easy and simple
Python is easy and simple
Java is easy and simple