# 딕셔너리
- key 와 value 로 구성되어 있는 자료형

In [7]:
dic_1 = {'name' : "인쌤"}
dic_1

{'name': '인쌤'}

In [51]:
#딕셔너리 내 데이터 접근
dic1 = {'name' : '인쌤' , 'age' : 20, 'phone' : '062-655-5050'}
type(dic1)
print(dic1['name'])
print(dic1['age'])
print(dic1['phone'])    

print(dic1.get('blood')) # 해당 Key 없음으로 none 발생
print(dic1.get('blood') == None) #해당 Key 가 없는 경우 . True 발생

인쌤
20
062-655-5050
None
True

In [61]:
#딕셔너리 데이터 추가
dic1['height'] = 174

In [56]:
dic1['address'] = '광주 남구 송암로 60'

In [26]:
dic1['blood'] = 'O'

In [57]:
dic1

{'name': '인쌤', 'age': 25, 'phone': '062-655-5050', 'address': '광주 남구 송암로 60'}

In [34]:
dic_test = {"노래제목" : "아무노래"}

In [38]:
dic_test["가수"] = "지코"
dic_test["날짜"] = "2020.01.13"

In [41]:
dic_test

{'노래제목': '아무노래', '가수': '지코', '날짜': '2020.01.13'}

In [44]:
#딕셔너리 데이터 삭제
del dic1['blood']

KeyError: 'blood'

In [58]:
dic1

{'name': '인쌤', 'age': 25, 'phone': '062-655-5050', 'address': '광주 남구 송암로 60'}

In [53]:
#딕셔너리 데이터 수정
    
dic1['age'] = 25

In [62]:
dic1

{'name': '인쌤',
 'age': 25,
 'phone': '062-655-5050',
 'address': '광주 남구 송암로 60',
 'height': 174}

In [66]:
# 딕셔너리 key 값만 접근
for key in dic1.keys() :
    print(key)

name
age
phone
address
height

In [71]:
# 딕셔너리의 value 값만 접근
for value in dic1.values() :
    print(value)

인쌤
25
062-655-5050
광주 남구 송암로 60
174

In [74]:
dic1.items()

dict_items([('name', '인쌤'), ('age', 25), ('phone', '062-655-5050'), ('address', '광주 남구 송암로 60'), ('height', 174)])

In [82]:
# 반복문 활용 key , value 동시출력 / 변수 2개로 진행 (ex: k, v)
for k, v in dic1.items():
    print(k, v)

name 인쌤
age 25
phone 062-655-5050
address 광주 남구 송암로 60
height 174

In [114]:
data = {"기영" : 98, "기철" : 80 , "오덕" : 100 , "춘식" : 70}
avg = int(sum(data.values())) // len(data.values())
for a, b in data.items() :
    print(a, b)
print('='*9)
print("평균", avg)

기영 98
기철 80
오덕 100
춘식 70
=========
평균 87

In [115]:
data = {"기영" : 98, "기철" : 80 , "오덕" : 100 , "춘식" : 70}
for a, b in data.items() :
    print(a, b)
print('='*9)

sum_score = 0
for score in data.values() :
    sum_score = sum_score + score

avg = sum_score // len(data.values())
print('평균 {}' . format(avg))

기영 98
기철 80
오덕 100
춘식 70
=========
평균 87

In [142]:
#dic 안에 dic 문제
score_dic = {"홍길동" : {"수학" : 99, "영어" : 80, "국어" : 75},  "김미정" : {"영어" : 67, "국어" : 87, "수학" : 55}, "정수진" : {"수학" : 67, "국어" : 41, "영어" : 23}}

score_dic = {'수학' : score_dic["홍길동"]["수학"] + score_dic["김미정"]["수학"] + score_dic["정수진"]["수학"], '국어' : score_dic["홍길동"]["국어"] + score_dic["김미정"]["국어"] + score_dic["정수진"]["국어"], "영어" : score_dic["홍길동"]["영어"] + score_dic["김미정"]["영어"] + score_dic["정수진"]["영어"]}
print(score_dic)

{'수학': 221, '국어': 203, '영어': 170}

score_dic = {"홍길동" : {"수학" : 99, "영어" : 80, "국어" : 75},  "김미정" : {"영어" : 67, "국어" : 87, "수학" : 55}, "정수진" : {"수학" : 67, "국어" : 41, "영어" : 23}}
m = 0
e = 0
k = 0
for sject in score_dic.values():
    m = m + (score_dic.value("수학"))
    e = e + (score_dic.value("영어"))
    k = k + (score_dic.value("국어"))

print("수학 : {}, 국어 : {}, 영어 : {}" . format(m, e, k))

In [171]:
score_dic = {"홍길동" : {"수학" : 99, "영어" : 80, "국어" : 75},  "김미정" : {"영어" : 67, "국어" : 87, "수학" : 55}, "정수진" : {"수학" : 67, "국어" : 41, "영어" : 23}}

kor = 0
math = 0
eng = 0

for name in score_dic.keys():
    math += score_dic[name]["수학"]
    kor += score_dic[name]["국어"]
    eng += score_dic[name]["영어"]

score_total = {'수학' : math , '국어' : kor , '영어' : eng}
print(score_total)

홍길동
김미정
정수진
{'수학': 221, '국어': 203, '영어': 170}

In [178]:
adic = {"주소" : {"광주" : "치평동"}}
for ad in adic.keys():
    print(adic[ad]["광주"])

치평동

# 함수(Function)
- 실행할 명령들을 독립적으로 실행할 수 있게 모아둔 집합

In [183]:
# 함수 정의         
def number_sum(num1, num2): 
    print(num1 + num2)

In [185]:
number_sum(5, 5) # 함수 호출(실행)

10

In [207]:
#가변 매개변수 정의 : 튜플 형태로 저장
#입력받을 매개변수의 갯수를 알 수 없을 때
def number_sum(*num):
    print(num + num)

In [208]:
number_sum(1,23,1,4,5)

(1, 23, 1, 4, 5, 1, 23, 1, 4, 5)

In [204]:
def add_sub(num1, num2):
    #함수를 호출한 곳으로 값 보내기
    return num1+num2, num1-num2

In [206]:
a ,b = add_sub(5,10)
print(a)
print(b)

15
-5