In [1]:
import pandas as pd

In [2]:
city = pd.read_csv('data/apt.csv', encoding = 'cp949')
city

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [39]:
#자료출력하기
#지역 열의 전체 행 가져오기
#loc , iloc

In [34]:
# city = city.iloc[:,:5]
#city.loc[:,:'아파트']
city
# city = city.drop('번지','본번','부번')

#지역, 면적 만 추출하기 -> 리스트로 묶기
# 문제1. 면적 130 인 전체 열 출력
# # 인덱싱을 불리언값으로 하는것 = 불리언인덱싱
cityz=city.loc[city['면적'] >= 130, '가격'] #인덱서 활용법
cityz
# city = city.loc[:,['지역','면적']]  / 대체가능 불리언인덱싱
# cityz = city[city['면적'] >= 130]
# cityz
# 문제2. 면적 130이상인 아파트의 가격만 출력
# ->> 문제1에 뒤쪽에 '가격' 붙이기

#문제3. 면적이 13이상이고, 가격은 1.5억 미만인 자료의 가격만 출력
cityp = city['가격'] < 15000
cityp
city1=city.loc[(city['면적'] >= 130) & (city['가격'] < 15000), '가격' ].sort_values()
city1 #(값들의 오름차순 sort_values())

39487    12000
40680    12500
41578    13000
37726    13700
927      13800
41173    14000
38811    14600
16785    14700
36733    14700
862      14900
Name: 가격, dtype: int64

In [51]:
#원하는 값 바꾸기
#가격 컬럼의 값이 800이하면 모두 다 0으로 바꾸기800이하면 모두 다 0으로 바꾸기

# city[city['가격'] <= 800]['가격']
city.loc[city['가격'] <= 800,'가격'] = 0
city.loc[city['가격'] <= 800,'가격']

17022    0
17024    0
17025    0
17027    0
17031    0
17637    0
Name: 가격, dtype: int64